@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="registerBg">
</div>

<div class="cadru">
    <div class="date3">
        <h2>@ViewData["Title"]</h2>
        <br />
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</div>