@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="registerBg">
</div>

<div class="formular">
    <div class="date">
        <div class="h1">
            <h1>@ViewData["Title"]</h1>
        </div>
        <form method="post">
            <div class="h2">
                <h2>Enter your email.</h2>
            </div>
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" aria-required="true" />
                <span asp-validation-for="Input.Email"></span>
            </div>
            <div class="register">
                <button class="butonFinal butonRegister" id="registerSubmit" type="submit"><span class="finalSpan"></span>Resend</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
