@{
    ViewData["Title"] = "Home Page";
}
<div class="fade">
</div>

<div class="fit">
    <div class="intro">
        <h1 class="welcome">Discover the new taste of coffee</h1>
        <p class="welcome-p">Introducing a revolutionary type of coffee. Discover our flavours.</p>
        <div class="welcome-buttons">
            <a href="#presentation"><button><span></span>Explore</button></a>
            <a asp-area="" asp-controller="Articles" asp-action="Index"><button><span></span>Buy</button></a>
        </div>
    </div>
    <div class="presentation" id="presentation">
        <div class="story">
            <div class="centru centru1">
                <h2>Our vision</h2>
                <br />
                <br />
                <video controls="controls">
                    <source src="~/Videoclipuri/Prezentare2.mp4" type="video/mp4" />
                </video>
                <br />
                <p class="story-p">We are 2 young people who always wanted to bring something new to this market. Together with several specialists we have developed a coffee that has different flavors encapsulated in the outer layer of the coffee beans. This product is revolutionary because the flavor manages to stay intense for a long time without losing its intensity unlike those of our competition.</p>
            </div>
        </div>
        <div class="space">
            <br />
            <br />
            <br />
        </div>
        <div class="story">
            <div class="rotund">
                <img class="anim" src="~/Poze/material (2).png" />
            </div>
            <div class="centru">
                <h2>Packaging</h2>
                <br />
                <p class="story-p">The high-quality texture brings multiple benefits. The packaging has a padded material on the inside, but very resistant on the outside, protecting the coffee beans from external factors that could damage them. The two-row closure system allows the flavour to be preserved for a long time, regardless of the humidity in the air that could otherwise alter its intensity.</p>

            </div>
        </div>
        <div class="space">
            <br />
            <br />
            <br />
        </div>
        <div class="story">
            <div class="centru">
                <h2>Design</h2>
                <br />
                <p class="story-p">Coffee packaging should not be boring or common. That's why the design of the bags was made exclusively by us. We hope you find the right product for you.</p>

            </div>
            <img class="anim" src="~/Poze/FaraFundal (2).png" />
        </div>
        <div class="space">
            <br />
            <br />
            <br />
        </div>
        <div class="story">
            <div class="centru centru1">
                <p>We will be introducing new products in the near future so stay tuned. Until then, we invite you to view the coffee bags in the Articles section. If you want to buy them, you will first need to create an account or, if you already have one, log in.</p>
            </div>
        </div>
        <a href="#"><button class="butonTop"><span class="spanTop"></span>Go to top</button></a>
    </div>
</div>