@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="formular">
    <partial name="_StatusMessage" for="StatusMessage" />
    <br />
    <div class="h3">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="date2">
        <form class="form" id="change-password-form" method="post">
            <div class="invalidLogin" asp-validation-summary="ModelOnly"></div>
            <br />
            <div class ="email">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" autocomplete="current-password" aria-required="true" />
            </div>
            <span class="emailConfirmat" asp-validation-for="Input.OldPassword"></span>
            <div class="password">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" autocomplete="new-password" aria-required="true" />
            </div>
            <span class="emailConfirmat" asp-validation-for="Input.NewPassword"></span>
            <div class="password">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" />
            </div>
            <span class="emailConfirmat" asp-validation-for="Input.ConfirmPassword"></span>
            <div class="register">
                <button class="butonFinal butonRegister" type="submit"><span class="finalSpan"></span>Update password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
