@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div role="alert">
    <br/>
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
    <br />
    <br />
</div>

<div class="formular">
    <div class="h3">
        <h3>@ViewData["Title"]</h3>
    </div>
    <br />
    <div class="date2">
        <form id="delete-user" class="form" method="post">
            <div asp-validation-summary="ModelOnly" class="invalidLogin"></div>
            @if (Model.RequirePassword)
            {
                <div class="password">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" />
                </div>
                <span class="emailConfirmat" asp-validation-for="Input.Password"></span>
            }
            <div class="register">
                <button class="butonFinal butonRegister" type="submit"><span></span>Delete data and close my account</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
